<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <!-- <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
    </div> -->
    <div id=title>
        L<span class=small_title>ET'S</span> G<span class=small_title>ET</span> T<span class=small_title>HIS</span>
        B<span class=small_title>READ</span>
    </div>

    <div id=container>

        <div id=toast>


        </div>
        <div id=toaster>


        </div>


        <div id=search_form>
            <form id=search_box class="form-inline global-search">
                <div class="form-group">
                    <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
                    <button type="submit" class="btn btn-info"> Go! </button>
                </div>

            </form>
            <form class="form-inline global-search">
                {% if data %}
                <h1>{{output_message}}</h1>
                {% for d in data %}
                <br>
                <p>{{d}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>

    </div>

</body>

</html>