<html>

<head>
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/home.css">
</head>

<body>
    <!-- <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
    </div> -->
    <div id=title>
        <!-- L<span class=small_title>ET'S</span> G<span class=small_title>ET</span> T<span class=small_title>HIS</span>
        B<span class=small_title>READ</span> -->
        <span class=small_title>LET'S GET THIS BREAD</span>
    </div>

    <div id=container>

        <div id=toast>


        </div>
        <div id=toaster>


        </div>


        <div id=search_form>
            <form id=search_box class="form-inline global-search">
                <div class="form-group">
                    <input id="input" type="text" name="search" class="form-control" placeholder="Your Input"
                        autocomplete="off">
                    <!-- <div id=enter_search onclick="burnToast();"> </div> -->
                    <button id=search form=search_box type="submit" class="btn btn-info"> </button>

                </div>

            </form>
        </div>

        <div id=results_form>
            <form class="form-inline global-search">
                {% if data %}
                <div id=your_query>
                    YOUR SEARCH: {{query}}
                </div>
                <div id=output_message>{{output_message}}</div>
                {% for d in data %}
                <br>
                <div id=results>
                    <a class=recipe_link href={{d[1]}}>{{d[0]}}</a>
                </div>
                {% endfor %}
                {% endif %}
            </form>

        </div>


    </div>
    <script src="/static/scripts/home.js"></script>

</body>

</html>